<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Profile Settings</title>

<body>
  <header>
    <div class="navbar">
      <h2 class="logo">Project Arc</h2>
      <ul class="links">
        <li><a href="/HomePage/index.html" id="Homepage">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/FavouritePage/FavouritePage.html">Favourite Skins</a></li>
        <li><a href="/BlackListPage/BlacklistPage.html">Blacklisted Skins</a></li>
      </ul>
      <img src="/HomePage/images/profile.jpg" class="user-pic" onclick="toggleMenu()">
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="/HomePage/images/profile.jpg" alt="">
            <h3>User</h3>
          </div>

          <hr>
          <a href="/EditProfile/Profile.html" class="sub-menu-link">
            <i class="fa fa-edit" style="font-size:24px"></i>
            <p>Edit Profile</p>
            <span></span>
          </a>
          <a href="/Settings/PrivacyPolicy.html" class="sub-menu-link">
            <i class="fa fa-gear" style="font-size:24px;"></i>
            <p>Privacy Policy</p>
            <span></span>
          </a>
          <a href="/LogInPage/LogInPage.html" class="sub-menu-link">
            <i class="fa fa-sign-out" style="font-size:24px"></i>
            <p>Logout</p>
            <span></span>
          </a>
        </div>
      </div>

      <div class="toggle_btn">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <div class="dropdown_menu">
      <li><a href="/HomePage/index.html" id="Homepage">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="/FavouritePage/FavouritePage.html">Favourite Skins</a></li>
      <li><a href="/BlackListPage/BlacklistPage.html">Blacklisted Skins</a></li>
      <li><a href="/EditProfile/Profile.html">Edit Profile</a></li>
      <li><a href="/Settings/PrivacyPolicy.html">Settings</a></li>
      <li><a href="/LogInPage/LogInPage.html">Log Out</a></li>

    </div>
  </header>

  <script>
    const toggleBtn = document.querySelector('.toggle_btn')
    const toggleBtnIcon = document.querySelector('.toggle_btn i')
    const dropDownMenu = document.querySelector('.dropdown_menu')

    toggleBtn.onclick = function () {
      dropDownMenu.classList.toggle('open')
      const isOpen = dropDownMenu.classList.contains('open')

      toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'

    }
    function toggleMenu() {
  subMenu.classList.toggle("open-menu");
}
  </script>
  <form class="formbox">
    <h1>Profile Settings</h1>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>
    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password"><br>
    <label for="avatar">Avatar:</label>
    <img src="/HomePage/images/profile.jpg" class="user-pic-avatar" onclick="toggleMenu()"><br>
    <input type="submit" value="Save Changes">
  </form>

</html>

</body>

</html>