<%- include ("parts/header") %>
  <main>
    <h1 style="text-align: center; color: white; padding-top: 20px;">Blacklisted Skins</h1>
    <div class="skin-container"></div>
  </main>

  <script src="/js/BlacklistPage.js"></script>
</body>
<head>
  <link rel="stylesheet" href="/css/BlackList.css">
</head>
</html>