<%- include ("parts/header") %>

  <main>
    <h1 style="text-align: center; color: white; padding-top: 20px;">Favourite Skins</h1>
    <div class="skin-container"></div>
  </main>

  <script src="/js/FavPage.js"></script>
</body>
<head>
  <link rel="stylesheet" href="/css/FavPage.css">
</head>
</html>