<%- include ("parts/header") %>

  <main>
    <h1>Privacy Policy</h1>
    <p>We are committed to protecting your privacy. This policy outlines what information we collect from you and how we
      use it.</p>
    <h2>Information we collect</h2>
    <p>We may collect the following information from you:</p>
    <ul>
      <li>Your name and contact information</li>
      <li>Demographic information, such as your age and gender</li>
      <li>Information about your use of our products and services</li>
    </ul>
    <h2>How we use your information</h2>
    <p>We use your information to:</p>
    <ul>
      <li>Provide you with the products and services you have requested</li>
      <li>Improve our products and services</li>
      <li>Send you promotional emails about new products, special offers, or other information we think you may find
        interesting</li>
    </ul>
    <h2>How we protect your information</h2>
    <p>We take appropriate measures to protect your information from unauthorized access or disclosure. We use
      industry-standard encryption technologies to protect sensitive information transmitted online.</p>
    <h2>Cookies</h2>
    <p>We use cookies to improve your experience on our website. Cookies are small text files that are stored on your
      device when you visit our website.</p>
    <h2>Changes to this policy</h2>
    <p>We may update this policy from time to time. The updated policy will be posted on our website.</p>
  </main>
  </body>

  <head>
    <link rel="stylesheet" href="/css/Privacy.css">
  </head>

  </html>