
  /* Style the page title */
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
  }
  
  /* Style the form input fields */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    padding: 8px;
    border: 1px solid #6D7885;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  input[type="file"] {
    width: auto;
  }
  
  input[type="submit"] {
    background-color: #FF4654;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #FF6F7D;
  }
  
  /* Style the form layout */
  form {
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  /* Style the section headers */
  .section-header {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  /* Style the toggle switch */
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin-right: 15px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6D7885;
    transition: .3s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  