#Homepage{
  font-weight: bold;
}

/*Main*/
.skin-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  padding: 50px;
  padding-top: 40px;
  border-radius: 10px;
}

.skin-card {
  width: 100%;
  max-width: 250px;
  height: auto;
  text-align: center;
  border: 5x solid black;
}

.skin-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 5px outset gray;
}

.skin-card h3 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  background-color: black;
  color: whitesmoke;
  border: 5px outset gray;
}

textarea{
  width: 100%;
    height: 100px;
    resize: vertical;
}

/*Popups*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #2f3136;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 90%;
  max-height: 90%;
  overflow: scroll;
  clear: both;
}

.popup-content img {
  width: 100%;
  height: auto;
  max-width: 90%;
  max-height: 50vh;
  object-fit: contain;
  margin: 10px 0;

}

.btn-close {
  background-color: transparent;
  font-size: 48px;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
  float: right;
}

@media(max-width: 768px) {
  .btn-close {
    font-size: 36px;
  }
}

.starbtn {
  background: transparent;
  border: none;
  font-size: 60px;
  outline: none;
  margin-right: 15px;
  color: black;
}

.starbtn:hover {
  cursor: pointer;
}

.banbtn {
  background: transparent;
  border: none;
  font-size: 60px;
  margin-left: 15px;
}

.popupReason {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  max-width: 90%;
  max-height: 90%;
  overflow: scroll;
  
}

.popupReason h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.popupReason button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  margin: 10px auto;
}

.popupReason button:hover {
  background-color: #3e8e41;
}

.banbtn:hover {
  cursor: pointer;
}